.nav {
    display: block;
    display: flex;
    background-color: darkgray;
    width: 100%;
    color: white
    margin : auto;
    padding : auto;

}
.sousnav {
    background-color: lightgray;
    height: 250PX;
    width: 100%;
    
}
.rectangle1 {
height: 100px;
width: 400px;
border: 2px solid grey;
background-color: lightgray;
}
.rectangle2 {
height: 100px;
width: 400px;
border: 2px solid grey;
background-color: lightgray;
    
}
.rectangle3 {
    height: 100px;
    width: 400px;
    border: 2px solid grey;
    background-color: lightgray;
}
.rectangle {
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    padding: auto;
    margin: auto;
    clear: both;
}
.bouton
{
    display: block;
    position:relative;
    float: right;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}

.formulaire {
    display: block;
    flex-direction: column;
    padding: 3px;

}
.formulaire1 {
    height: 20%;
    width: 100%;
    border: 2px solid grey;
}
.formulaire2 {
    height: 20%;
    width: 100%;
    border: 2px solid grey;
}
.formulaire3 {
    height: 20%;
    width: 100%;
    border: 2px solid grey;
}


   

@media screen and (max-width: 600px) {
* {
    
    margin: auto;
    padding: auto;
    position: relative;
    max-width: 300px;
  
}}

@media screen and (min-width: 600px) {
    * {
        background-color: blue;
        margin: 5px;
        padding: 2px;
    }
    H1{
        font-size: 25px;
    }
}
